[Unit]
Description=Hourly OS Report Script

[Service]
Type=oneshot
ExecStart=/var/www/rebelwithlinux.com/os_report.sh

[Install]
WantedBy=multi-user.target
