[Unit]
Description=Hourly Server Report Script

[Service]
Type=oneshot
ExecStart=/var/www/rebelwithlinux.com/server_report.sh

[Install]
WantedBy=multi-user.target
